<div class="container-fluid">

<div class="row">
  <div class="col-md-9">
    <div class="container-fluid bg-2 text-center" >
      <h3>What Am I?</h3>
      <p>Lorem ipsum..</p>
    </div>

    <div class="container-fluid bg-3 text-center">
      <h3>Where To Find Me?</h3>
      <p>Lorem ipsum..</p>
    </div>

    <div class="container-fluid bg-2 text-center">
      <h3>Where To Find Me?</h3>
      <p>Lorem ipsum..</p>
    </div>

    

  </div>


  <div class="col-md-3">
    <div class="jumbotron fixed" [style.height.px]="height" >
      <div class="container-fluid">
        <h4>Fixed</h4>
      </div>
    </div>
    
  </div>


</div>

</div>